<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Right</title> 
        <style>
             body{
                margin: 0px;
            }
            header{
                text-align: center;
                padding: 10px;
                font-size: 20px;
                background-color: cadetblue;
            }
            form{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <header>
            歡迎光臨，這是會員頁
        </header>
        <div style="text-align: center;">{{data}}，成功登入系統</div>
        <form action="/loggedout">
            <button>登出系統</button>
        </form>
    </body>
</html>